html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: var(--vary-light-gray);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
