@use "./util/index" as util;

.main {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  .bgImagePattern {
    top: -134px;
    right: -174px;
    width: 511px;
    height: 511px;
    position: absolute;
    z-index: -1;

    @include util.breakpoint(xs) {
      width: 814px;
      height: 814px;
      top: -249px;
      right: -269px;
    }
  }
  .header {
    .headerContainer {
      margin-top: 48px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 39px;

      @include util.breakpoint(md) {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        column-gap: 9px;
      }

      .headerContent {
        text-align: center;
        @include util.breakpoint(md) {
          text-align: left;
        }
        h1 {
          font-size: clamp(1.875rem, 1.5367rem + 1.6603vw, 2.6875rem);
          font-weight: 700;
          color: var(--dark-blue);
          margin-bottom: 22px;
          @include util.breakpoint(md) {
            max-width: 430px;
          }
        }
        p {
          font-weight: 400;
          color: var(--dark-grayish-blue);
          margin-bottom: 32px;
          @include util.breakpoint(md) {
            max-width: 330px;
          }
        }
      }
      .headerImage {
        .image {
          width: 100%;
          height: auto;
          max-width: 586px;
        }
      }
    }
  }
}
