@use "./util/index" as util;

.nav {
  width: 100%;
  height: auto;
  padding-top: 49px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .linksDesktop {
      display: none;
      align-items: center;
      gap: 31px;

      @include util.breakpoint(sm) {
        display: flex;
      }

      li {
        a {
          color: var(--dark-blue);
          font-size: util.toRem(16);
          font-weight: 400;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: var(--dark-grayish-blue);
          }
        }
      }
    }

    // mobile view
    .menuButton {
      @include util.breakpoint(sm) {
        display: none;
      }
    }
  }
}
